body{
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Exo 2', sans-serif;

}
.team{
	padding-left: 1em;
	color: white;
}
.bar{
	padding-left: 1em;
}
.credit{
	padding-top: 5em;
	color: white;
}
.level{
	color: white;
}
.challenges{
	padding-left: 4em;
	color: white;
}
table{
	color: white;
}
.grille{
	padding-top: 7em;
}
.bouton{
	padding-top: 2em;
}
.bestou{
	padding-top: 2em;
	color: white;
}
p{
	color: white;
}